{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content }}>
      <div class="container">
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}
