{#
/**
 * @file
 * Overrides core/modules/system/templates/textarea.html.twig
 */
#}
{%
  set tw = [
    'shadow',
    'appearance-none',
    'border',
    'rounded',
    'w-full',
    'py-2',
    'px-3',
    'leading-tight',
    'focus:outline-none',
    'focus:shadow-inner',
    'focus:shadow-fs-red-tint',
    'border-fs-red-tint',
  ]
%}
<div{{ wrapper_attributes.addClass(tw) }}>
  <textarea{{ attributes }}>{{ value }}</textarea>
</div>
