{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="article-cards">
  <div class="items grid gap-x-3 gap-y-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 font-sans">
    {% for row in rows %}
      <div class="item">
        <div class="h-full">
          {{- row.content -}}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
