{#
/**
 * @file
 * Overrides core/modules/views/templates/views-view-unformatted.html.twig
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="article-cards">
  {% for row in rows %}
    {{- row.content -}}
  {% endfor %}
</div>
